<div *ngIf="!displayMenu && mobileDesign" (click)="toggleMenu()" class="menu-button button-icon">
  <img class="icon" src="/assets/icons/Menu.svg" />
</div>

<aside *ngIf="(displayMenu && mobileDesign) || !mobileDesign">
  <div (click)="toggleMenu()" class="close-button" *ngIf="displayMenu && mobileDesign">
    <img class="icon" src="/assets/icons/Close.svg" />
  </div>
  <section class="app-title">
    <img id="logo-roboticadour-simplifie" src="/assets/logo-roboticadour-simplifie.svg" alt="Logo de Astro" />
    <h2 class="text-center">Astro</h2>
  </section>

  <section class="navigation-section">
    <ng-container [ngSwitch]="activity">
      <nav *ngSwitchCase="'visualiseur'">
        <section>
          <div>
            <h3>Tableaux</h3>
          </div>
          <ul></ul>
        </section>
        <section>
          <div>
            <h3>Graphiques</h3>
          </div>
          <ul></ul>
        </section>
      </nav>
      <nav *ngSwitchCase="'administrateur'">
        <ul>
          <li routerLink="/administration/users"><p class="menu-item">Utilisateurs</p></li>
          <li routerLink="/administration/projects"><p class="menu-item">Projets</p></li>
          <li routerLink="/administration/ressources"><p class="menu-item">Ressources</p></li>
        </ul>
      </nav>
    </ng-container>
  </section>
  <section class="activity-section">
    <ng-container [ngSwitch]="activity">
      <div class="info-activity" *ngSwitchCase="'utilisateur'">
        <img class="icon activity-icon" src="/assets/icons/Precision.svg" />
        <p class="actual-activity">Utilisateur</p>
      </div>
      <div class="info-activity" *ngSwitchCase="'visualiseur'">
        <img class="icon activity-icon" src="/assets/icons/Query.svg" />
        <p class="actual-activity">Visualisation</p>
      </div>
      <div class="info-activity" *ngSwitchCase="'administrateur'">
        <img class="icon activity-icon" src="/assets/icons/PassKey.svg" />
        <p class="actual-activity">Administrateur</p>
      </div>
    </ng-container>

    <button id="switch-activity-button" class="button-icon">
      <img
        class="icon"
        src="/assets/icons/Manage.svg"
        alt="Changer d'utilisation"
      />
    </button>
  </section>
</aside>
