section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  align-items: center;
}

aside,
.menu-button,
.close-button {
  z-index: 100;
}

aside {
  width: 340px;
  height: 100vh;
  display: flex;
  flex-flow: column;
  background: #161313;
  padding: 10px 15px;
  box-sizing: border-box;
}

.app-title {
  padding: 20px;

  img {
    width: 55px;
    height: auto;
  }
}

.navigation-section {
  color: #a9a9a9;
  height: 100%;
  nav {
    height: 100%;
    width: 100%;
    padding: 50px 10px;
    box-sizing: border-box;

    ul {
      width: 100%;

      li {
        cursor: pointer;
        border-radius: 4px;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;

        &:hover {
          background-color: #80808020;
        }
      }
    }
  }
}

.role-section {
  padding: 20px 10px 20px 20px;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

  .info-role {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .role-icon {
      filter: invert(76%) sepia(0%) saturate(1015%) hue-rotate(316deg)
        brightness(86%) contrast(102%);
      width: 30px;
      height: auto;
    }
  }

  #switch-role-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 4px;
    background-color: #ffc700;

    &:hover {
      cursor: pointer;
      outline: 2px solid white;
      outline-offset: 2px;
    }
    .icon {
      width: 35px;
      height: auto;
      filter: invert(4%) sepia(24%) saturate(357%) hue-rotate(315deg)
        brightness(95%) contrast(92%);
    }
  }
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-color: #ffc700;

  img {
    filter: invert(4%) sepia(24%) saturate(357%) hue-rotate(315deg)
      brightness(95%) contrast(92%);
  }
}

.role-selection-section {
  padding: 20px 10px 20px 20px;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;

  ul {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .menu-item {
    font-size: 1.5rem;
  }

  .role-icon {
    width: 300px;
  }

  #logo-roboticadour-simplifie {
    width: 80px;
  }

  h2 {
    font-size: 3rem;
  }

  aside {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background: #161313;

    padding: 10px 15px;
    box-sizing: border-box;
  }
}
