<section>
  <ng-container [ngSwitch]="this.sessionsStatus">
    <div *ngSwitchCase="SessionStatusEnum.Undefined">
      <app-nosession
        (createSessionEvent)="initializingSession()"
      ></app-nosession>
    </div>
    <div *ngSwitchCase="SessionStatusEnum.Initializing">
      <app-initsession
        (createSessionEvent)="createSession($event)"
      ></app-initsession>
    </div>
    <div *ngSwitchCase="SessionStatusEnum.Running || SessionStatusEnum.Paused">
      <app-runningsession
        #runningSession
        [ressourcesUsedIdList]="ressourcesUsed"
        (closeSessionEvent)="closeSession()"
        (updateSessionEvent)="updateRessource($event)"
        [(selectedRessource)]="ressourcesUsedId"
        [timeSession]="this.timeSession"
        [isDataLoading]="isDataLoading"
      ></app-runningsession>
    </div>
  </ng-container>
</section>
<div *ngIf="!dataReceived" class="loader">
  <p-progressSpinner
    styleClass="w-4rem h-4rem"
    strokeWidth="8"
    animationDuration="3s"
  ></p-progressSpinner>
  <h2>Récupération des données</h2>
</div>
<p-toast position="top-right"></p-toast>
