@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  color: #d9d9d9;
}

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.close-button,
.menu-button {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  img {
    width: 40px;
    height: auto;
    filter: invert(76%) sepia(0%) saturate(1015%) hue-rotate(316deg)
      brightness(86%) contrast(102%);
  }
}

.input-field {
  display: flex;
  flex-direction: column;
}
