<h3>Heures Totales</h3>
<section class="input-section">
  <div class="input-field">
    <label for="dateInput">Mois et année</label>
    <p-inputMask
      #dateInput
      id="dateInput"
      mask="99-9999"
      [(ngModel)]="date"
      placeholder="99-9999"
      (onKeydown)="checkIfGeneratable()"
    ></p-inputMask>
    <div style="color: red">
      {{ error }}
    </div>
  </div>

  <div class="card flex justify-content-center">
    <div class="input-field">
      <label for="dateInput">Données de</label>
      <p-dropdown
        [options]="firstDropdownTypeOption"
        optionLabel="label"
        optionValue="type"
        [(ngModel)]="firstDropdownTypeSelection"
        [filter]="true"
        (onChange)="onFirstTypeChange(); checkIfGeneratable()"
      >
      </p-dropdown>
      <p-dropdown
        *ngIf="secondDropdownTypeOption"
        [options]="firstDropdownElementOption"
        [optionLabel]="labelName"
        [optionValue]="labelValue"
        [(ngModel)]="firstDropdownElementSelection"
        [filter]="true"
        (onChange)="checkIfGeneratable()"
      >
      </p-dropdown>
    </div>

    <div
      *ngIf="firstDropdownTypeSelection && firstDropdownElementSelection"
      class="input-field"
    >
      <label for="dateInput">En fonction de</label>
      <p-dropdown
        [options]="secondDropdownTypeOption"
        optionLabel="label"
        optionValue="type"
        [(ngModel)]="secondDropdownTypeSelection"
        [filter]="true"
        (onChange)="checkIfGeneratable()"
      >
      </p-dropdown>
    </div>
  </div>
  <div>
    <p-button
      id="button-generate"
      [disabled]="!isAllInputDataComplete"
      (click)="getDataTable()"
      label="Générer"
    ></p-button>
  </div>
</section>

<p-tabView>
  <p-tabPanel header="Tableau">
    <app-table [data]="[data, dateToShow]"></app-table>
  </p-tabPanel>
  <p-tabPanel header="Graphique">
    <app-graph
      [data]="[data, dateToShow]"
      style="width: 100%; display: block"
    ></app-graph>
  </p-tabPanel>
</p-tabView>
